""" ~/.ideavimrc

""" Map leader to space ---------------------
let mapleader = " "

""" Common settings -------------------------
set showmode
set incsearch
set nu

""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

""" Mappings --------------------------------
map <leader>f <Plug>(easymotion-s)
map <leader>/ <Plug>(easymotion-f)

map <leader>r <Action>(RenameElement)
map <leader>e <Action>(NERDTreeToggle)

""" Plugins ---------------------------------
Plug 'easymotion/vim-easymotion'
Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'kana/vim-textobj-entire'
Plug 'machakann/vim-highlightedyank'
Plug 'michaeljsmith/vim-indent-object'

packadd matchit
